.form-checkbox {
  appearance: none;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  user-select: none;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  border-width: 1px;
  border-radius: 0.25rem;
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media not print {
  .form-checkbox::-ms-check {
    border-width: 1px;
    color: transparent;
    background: inherit;
    border-color: inherit;
    border-radius: inherit;
  }
}

.form-checkbox:focus {
  outline: none;
}

.form-checkbox:checked + .task-text {
  text-decoration: line-through;
}

.no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}

.fading-left-light {
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
}
.fading-right-light {
  background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
}

.pan-y {
  touch-action: pan-y;
}

.breathe-opacity {
  opacity: 1;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: normal;
}
.breathe-opacity.left {
  animation-name: slide-left;
}
.breathe-opacity.right {
  animation-name: slide-right;
}

@keyframes slide-right {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-left {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
