@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply font-sans tracking-wide bg-gray-100 m-0;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-4xl;
}

h4 {
  @apply text-gray-600;
}

a {
  @apply text-teal-500;
}
a:hover {
  @apply text-teal-700;
}

hr {
  @apply border border-solid border-gray-200;
}

.breathe-opacity {
  opacity: 1;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes glow {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}

/*li.task-list-item {
  line-height: 40px;
  list-style: none;
  text-align: middle;
}

li.task-list-item .list-checkbox-container {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: -40px;
  margin-right: -4px;
}*/
